

*,
*::before,
*::after {
    font-family: "Robotoo",system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    font-size: $fs-600;
    overflow-x: hidden;
    background-color: #596b4b;
    transition: background-color 1s, opacity .55s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* =========================
|GENERAL STYLINGS|
========================= */

a {
    text-decoration: none;
    color: initial;
}

li {
    list-style: none;
}

.section {
    padding-inline: 5%;
}

button {
    font-size: $fs-600;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

img {
    max-width: 100%;
    display: block;
}
