$fs-600: 1.2vw;

@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin media($size){
    @media screen and (max-width: $size){
        @content;
    }
}
@font-face {
    font-family: Brogadier;
    src: url("../fonts/brogadier.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}